.navbar-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo {
    text-decoration: none;
    color: #222;

    font-size: 30px;
    font-weight: 700;
    letter-spacing: 5px;

    transition: opacity 0.3s ease;
}

.navbar-logo:hover {
    opacity: 0.65;
}



@media (max-width: 768px) {

    .navbar-logo {
        font-size: 25px;
        letter-spacing: 4px;
    }

}